In [5]:
import sqlite3 as sql

# create a connection with a database
conn = sql.connect('kirti.db')

# create a cursor object using the connection - allows us to go through the records
cursor = conn.cursor()

In [6]:
cursor.execute('''
CREATE TABLE people(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL, 
    age INTEGER,
    city TEXT
);
''')

In [7]:


conn.commit()  # save the changes

In [8]:
cursor.execute('''
INSERT INTO people (name, age, city) VALUES ('John Doe', 30, 'New York');
''')

In [9]:
cursor.execute('''
INSERT INTO people (name, age, city) VALUES ('Rezel', 28, 'Ambala');
''')

conn.commit()

In [10]:
  # save the changes
cursor.execute('''
               SELECT * FROM people;
               ''')

results = cursor.fetchall()

In [11]:
import pandas as pd

df = pd.DataFrame(results)
df

   0         1   2         3
0  1  John Doe  30  New York
1  2     Rezel  28    Ambala

In [12]:
# close the connection
conn.close()

In [15]:

import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='kirti',
    password='password',
    database='kirti'
);

cursor = connection.cursor()

ModuleNotFoundError: No module named 'mysql'