<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma<br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> <!--- Devashish Kumar | CodroidHub Private Limited | AI/ML Consultant --->
    </div>
</div>


<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    Aggregate function in  My-sql <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

An **aggregate function** in SQL is a function that performs a calculation on a set of values and returns a single value. These are commonly used with the `GROUP BY` clause but can also be used on entire result sets.

### Common Aggregate Functions in SQL:

| Function  | Description                          |
| --------- | ------------------------------------ |
| `COUNT()` | Counts the number of rows            |
| `SUM()`   | Adds up all the values in a column   |
| `AVG()`   | Calculates the average of the values |
| `MIN()`   | Finds the smallest value             |
| `MAX()`   | Finds the largest value              |

---

### Examples:

#### 1. `COUNT()`

```sql
SELECT COUNT(*) FROM employees;
```

*Counts all employees.*

#### 2. `SUM()`

```sql
SELECT SUM(salary) FROM employees;
```

*Calculates the total salary of all employees.*

#### 3. `AVG()`

```sql
SELECT AVG(salary) FROM employees;
```

*Calculates the average salary.*

#### 4. `MIN()` and `MAX()`

```sql
SELECT MIN(salary), MAX(salary) FROM employees;
```

*Finds the lowest and highest salary.*

---

### With `GROUP BY`:

```sql
SELECT department_id, AVG(salary)
FROM employees
GROUP BY department_id;
```

*Gets the average salary per department.*

---

### With `HAVING` (used to filter aggregate results):

```sql
SELECT department_id, COUNT(*) as employee_count
FROM employees
GROUP BY department_id
HAVING COUNT(*) > 10;
```

*Finds departments with more than 10 employees.*

---

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
    </h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>